<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Renamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Renamer.Properties.Settings>
            <setting name="TargetFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EpIdentifier" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>S%SE%E</string>
                        <string>%Sx%E</string>
                        <string>S%S.E%E</string>
                        <string>- %E -</string>
                        <string>-E%E-</string>
                        <string>%S%E</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Renamer.Properties.Settings>
    </userSettings>
</configuration>